*.obj,[[:space:]]*.mtl,[[:space:]]*.gltf,[[:space:]]*.jpeg,[[:space:]]*.png,[[:space:]]*.fbx,[[:space:]]*.dae,[[:space:]]*.mov,[[:space:]]*.mp4,[[:space:]]*.wav,[[:space:]]*.mp3 filter=lfs diff=lfs merge=lfs -text
